.cta-container{
    background-color: #DFD7F9;
    border-radius: 100px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    height: 407px;
    position: relative;
    max-width: 1170px;
    width: 100%;
}



.sendIcon{
    height: 70px;
    position: absolute;
    right: -25px;
    top: -26px;
    width: 70px;
}

.cta-text{
    font-size: 33px;
    margin-top: 79px;
    text-align: center;
}

.input-field-container{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 74px;
}

.input-container{
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    padding: 20px;
    margin-right: 20px;
    width: 420px;
}

.input-field{
    background: transparent;
    border: none;
    outline: none;
    color: black;
    margin-left: 10px;
}

.subscribe-btn{
    background-color: #FF946D;
    border: none;
    border-radius: 4px;
    color: var(--bg-color);
    font-size: 17px;
    padding: 20px 45px;
}