nav{
    display: flex;
    background-color: rgba(100,50,255,0.1);
    flex:1;
}


.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    flex: 1;
    margin: 1rem auto;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-container img{
    width: 115px;
    height: 34px;
}

.nav-links{
    align-items: center;
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.links{
    flex: 1.25;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

.links >p {
    font-size: 17;
    cursor: pointer;
}

.sign{
    display: flex;
    align-items: center;
    flex: 0.75;
    justify-content: flex-end;
    justify-content: space-between;
}

.sign >button {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primaryText);
    border-radius: 5px;
    cursor: pointer;
}

.change-lang{
    align-items: center;
    display: flex;
    justify-content: center;
}

.change-lang > select{
    border: none;
    outline: none;
    background: transparent;
}

@media screen and (max-width:1240px) {
    .navbar-container{
        flex: 0.9;
    }
}

@media screen and (max-width:920px) {
    .navbar-container{
        flex: 0.9;
        justify-content: space-between;
    }

    .links {
        display: none;
    }

    .sign{
        justify-self: flex-end;
    }
    .nav-links{
        justify-content: flex-end;
    }
}