.testimonial-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.text-area{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.page-level{
    display: flex;
    justify-content: space-between;
    width: 87px;
}

.dot{
    background-color: var(--primaryText);
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.testimonialCard-container{
    display: flex;
    flex: 1;
    justify-content: end;
}

@media screen and (max-width:700px) {
    .testimonial-container{
        flex-direction: column;
    }

    .testimonial-section{
        margin-top: 2rem;
        text-align: center;
        justify-content: center;
    }
}