*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  background-color: var(--bg-color);
}

.section-padding{
  padding: 2rem 5rem;
}

.banner_bg{
  background-image: url(./assets/Mask\ Group\ 1@2x.png);
  background-size: 100%;
  background-repeat: no-repeat;
}


@media screen and(max-width:1024px){
  .banner_bg{
    background-image: 100%;
    flex-direction: column;
  }
}